
Example/.DS_Store

*.xcuserstate

*.xcuserstate

Example/PLMediaStreamingKitDemo.xcworkspace/xcuserdata/ly.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

Example/PLMediaStreamingKitDemo.xcodeproj/xcuserdata/liuyang.xcuserdatad/xcschemes/xcschememanagement.plist

Example/Pods/Pods.xcodeproj/xcuserdata/liuyang.xcuserdatad/xcschemes/xcschememanagement.plist
